:root {
  --z-header: 450;
  --z-navigation-content: 500;
  --z-navigation-wrapper: 400;
  --z-menu: 400;
  --z-page01-background: -50;
  --z-page01-backgroundImage: -100;
  --z-page01-mobileContent: 100;
  --z-page01-scrollDown: 50;
  --z-page01-layout: 300;
  --z-video-controllerWrapper: 350;
  --z-video-controllerBackground: 250;
  --z-page02-backgroundLine: -10;
}
